#calcBody {
    background-image: linear-gradient(90deg, #BEBEBE, #D3D3D3);
    padding: 15px;
    width: fit-content;
    font-family: monospace;
}

div.bigRow {
    margin-bottom: 10px;
}

div.window {
    width: 230px;
    height: 40px; 
    background-image: linear-gradient(#FFFFFF 50%,#E8E8E8 50%);
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 0px black;
    #screen {
        padding-right: 10px;
        text-align: right;
        font-size: 30px;
        overflow-x: auto;

    }
}

div {
    button { 
        text-align: center;
        font-family: monospace;
        font-size: 30px;
        width: 50px;
        height: 50px;
        margin: 0;
        background-image: linear-gradient(#EBEBEB 50%, #DCDCDC 50%);
        border-radius: 5px;
        margin-right: 10px;
    }
    .operator {
        background-image: linear-gradient(#434343 50%, #2E2E2E 50%);
        color: white;
    }
    #clear {
        background-image: linear-gradient(#D20100 50%, #AF0100 50%);
    }
}