
div {
    button { 
        text-align: center;
        font-family: monospace;
        font-size: 30px;
        width: 50px;
        height: 50px;
        margin: 0;
        background-image: linear-gradient(#EBEBEB 50%, #DCDCDC 50%);
        border-radius: 5px;
    }    
    .numbers {
        font-size: 0;
    }
    .operator {
        background-image: linear-gradient(#434343 50%, #2E2E2E 50%);
        color: white;
    }
    #clear {
        background-image: linear-gradient(#D20100 50%, #AF0100 50%);
    }
}